<div class="h-screen -mt-24 w-full p-4 justify-center items-center flex bg-gray-300">
  <div class="relative h-full w-1/2 md:h-auto">
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <!-- Form body -->
      <div class="p-6 space-y-6">
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">Edit course ID#: {{ courseId }}</h3>
        <div class="mb-6">
          <label for="title-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Title</label>
          <input
            [(ngModel)]="courseTitle"
            type="text"
            id="title-input"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder:text-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Enter video course title"
          />
        </div>
        <div class="mb-6">
          <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
          <textarea
            [(ngModel)]="courseDescription"
            id="message"
            rows="4"
            class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder:text-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Enter video course description..."
          ></textarea>
        </div>
        <div class="mb-6 w-1/3">
          <label for="duration-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Duration</label
          >
          <input
            [(ngModel)]="courseDuration"
            type="text"
            id="duration-input"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder:text-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Enter video course duration"
          />
        </div>
      </div>
      <!-- Form footer -->
      <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
        <button
          (click)="onSaveClick()"
          data-modal-toggle="defaultModal"
          type="button"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Save
        </button>
        <button
          (click)="onCancelClick()"
          data-modal-toggle="defaultModal"
          type="button"
          class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
