<form class="flex items-center">
  <label for="simple-search" class="sr-only">Search</label>
  <div class="relative w-full">
    <input
      [(ngModel)]="inputText"
      (ngModelChange)="onInputText()"
      name="simple-search"
      type="text"
      id="simple-search"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-5 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder:text-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder="Type to search"
      required
    />
  </div>
  <button
    (click)="onSearchClick()"
    type="button"
    class="p-2.5 ml-2 text-sm font-medium text-white bg-lime-600 rounded-lg hover:bg-lime-700 focus:ring-4 focus:outline-none focus:ring-lime-300 dark:bg-lime-600 dark:hover:bg-lime-700 dark:focus:ring-lime-800"
  >
    Search
  </button>
</form>
